<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <script src="https://kit.fontawesome.com/21f137b702.js" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a href="/"><i class="fa-regular fa-calendar-days"></i> Today</a>
    <a href="/work"><i class="far fa-clone"></i> Work</a>

    <div class="main">
        <h1><%- title %></h1>
        <div class="work">
             
            <% if (locals.arr) { %>
            <% arr.forEach(i => { %>
                <%-include("partials/eletodday.ejs",{i:i}) %>
            <% })%>
                <% } else { %>
                <% arr.forEach(i => { %>
                  <%-include("partials/elework.ejs",{i:i}) %>
                <% })%>
            <% } %>

            <div class="item">
                <form action="/<%-title %>" method="post">
                <input type="text" name="neww" class="done" placeholder="New Item">
                <button type="submit" class="btnn">+</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>